.filter-options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
  }
  
  .filter-options label {
    margin-right: 8px;
    font-size: 16px;
  }
  
  .filter-options select {
    width: 200px;
    padding: 5px;
    border-radius: 28px;
    border: 4px solid #ccc;
  }
  
  select {
    font-size: 16px; 
    padding: 8px; 
  }
  
  .filter-options .filter-select:nth-child(3) {
    margin-left: 50px;
  }
  .box-filter {
   
    border: 2px solid #68b587;
    background-color: #e8f8e5;
    border-radius: 8px;
    /* background-color: #dee4a7; */
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  
  .filter12{
    width: 25%;
    float: left;
  }
   

  
  .space {
    width: 60px;
}